body {
  background-color: #f8fafc;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
}

h1 {
  color: #0066cc;
}

h2 {
  color: #444;
  margin-top: 25px;
}

p {
  font-size: 18px;
}

img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 10px 0;
}

ul {
  list-style-type: circle;
  display: inline-block;
  text-align: left;
}

button {
  background-color: #107bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #00999b3;
}

a {
  color: #00997bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}